{% from "macros/forms.html" import modal_field, form_errors_alert with context %}
{% from "macros/custom_fields.html" import custom_fields_form with context %}
<form method="POST" action="{{ form_action }}" class="opora-modal-form">
    {{ form.hidden_tag() }}
    {% include "employees/partials/form_fields.html" %}
    <div class="modal-form-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
