{% from "macros/forms.html" import modal_field, form_errors_alert with context %}
{% from "macros/custom_fields.html" import custom_fields_form with context %}
{{ form_errors_alert(form) }}
<div class="row g-3">
    {{ modal_field(form.code, col=3, module='projects') }}
    {{ modal_field(form.name, col=9, module='projects') }}
    {{ modal_field(form.object_id, col=12, module='projects') }}
    {{ modal_field(form.description, col=12, rows=4, module='projects') }}
    {{ modal_field(form.status, col=3, module='projects') }}
    {{ modal_field(form.progress_percent, col=3, module='projects') }}
    {{ modal_field(form.start_date, col=3, module='projects') }}
    {{ modal_field(form.end_date, col=3, module='projects') }}
    {{ modal_field(form.responsible_id, col=6, module='projects') }}
    {{ modal_field(form.executor_ids, col=6, size=6, module='projects') }}
    {{ modal_field(form.sip_meters, col=3, module='projects') }}
    {{ modal_field(form.poles_count, col=3, module='projects') }}
    {{ modal_field(form.lights_count, col=3, module='projects') }}
    {{ modal_field(form.shuno_count, col=3, module='projects') }}
    {{ modal_field(form.sip_meters_fact, col=3, module='projects') }}
    {{ modal_field(form.poles_count_fact, col=3, module='projects') }}
    {{ modal_field(form.lights_count_fact, col=3, module='projects') }}
    {{ modal_field(form.shuno_count_fact, col=3, module='projects') }}
    {{ custom_fields_form(custom_fields, custom_field_values, custom_field_module) }}
</div>
