<form method="POST" action="{{ form_action }}" class="opora-modal-form">
    {{ form.hidden_tag() }}
    {% if request.args.get('object_id') %}
    <input type="hidden" name="object_id" value="{{ request.args.get('object_id') }}">
    {% endif %}
    {% include "contracts/partials/form_fields.html" %}
    <div class="modal-form-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
